.mode-btn-root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none !important;
  transition: all 0.3s ease;
}

.mode-btn-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 369px;
  height: 80px;
  cursor: none !important;
  position: relative;
}

.mode-btn-label {
  width: 115px;
  height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FAECD2;
  user-select: none;
}

.mode-btn-svg {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
} 